/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body{
  color: white;
}
@import "tailwindcss";

/* Carousel */
.carousel-item {
  height: 100% !important;
  width: 100% !important;
}
.banner > .carousel > .carousel-inner > .carousel-item::after {
  content: " ";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0,0,0,0.5));
  pointer-events: none;
  z-index: 2;
}
.carousel-item img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
}
.carousel-inner{
  height: 100% !important;
  width: 100% !important;
  border-radius: 0%;
}

.glance{
  position: relative; 
}
.glance::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* Ripple */
.ripple {
  box-sizing:border-box;
  position:absolute;
  background-color:transparent;
  border:none;
  border-radius:50%;
  color:#fff;
	height:25px;
	width: 25px;
	font-size:20px;
  transform: rotate(10deg);
  margin-left: -3.5rem;
}
.ripple:before {
  animation:ripple 2s ease-out infinite;
  border:solid 1px #d10115;
  border-radius:50%;
  bottom:0;
  box-sizing:border-box;
  content:"";
  left:0;
  position:absolute;
  right:0;
  top:0;
}
.ripple:after {
  animation:ripple 2s 1s ease-out infinite;
  border:solid 1px transparent;
  border-radius:1em;
  bottom:0;
  box-sizing:border-box;
  content:"";
  left:0;
  position:absolute;
  right:0;
  top:0;
}
@keyframes ripple {
  0% {
    opacity:.25;
  }
  100% {
    border-radius:50%;
    opacity:0;
    transform:scale(3);
  }
}

/* For Logos */
.carouselSlider{
  /* background-image:linear-gradient(to right, transparent, #000, transparent); */
  mask-image:linear-gradient(to right, transparent, #000 10% 90%, transparent);
  /* 10% 90% to show more content */
}




@media print {
  body * {
    visibility: hidden;
  }

  #divToPrintOnSinglePage,
  #divToPrintOnSinglePage * {
    visibility: visible;
  }

  #divToPrintOnSinglePage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    page-break-inside: avoid;
  }

  table, tr, td {
    page-break-inside: avoid;
  }

  @page {
    size: A4;
    margin: 10mm;
  }
}

